<div class="row">
  <h1 class="col-xs-12 col-sm-6">Relations</h1>
  <div class="col-xs-12 col-sm-6 yk-header-menubar">
    <%= link_to raw('<span class="btn-label"><i class="fa fa-plus"></i></span>Nouvelle relation'), new_relation_path, class: 'btn btn-info btn-labeled' %>
  </div>
</div>

<div class="panel panel-default">
  <table class="table">
    <col span="2" />
    <col width="80px" span="2" />
    <thead>
      <tr>
        <th>Nom</th>
        <th>Inverse</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @relations.each do |relation| %>
        <tr>
          <td><%= relation.name %></td>
          <td><%= relation.opposite.name if relation.opposite.present? %></td>
          <td><%= link_to 'Edit', edit_relation_path(relation), class: 'btn btn-warning' %></td>
          <td><%= link_to 'Destroy', relation, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>