<!DOCTYPE html>
<html>
<head>
    <title><%= titre %></title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navbar-offcanvas" data-canvas="body">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <% logo = image_tag("butterfly.svg", :alt => "logo", :width => 50, :height => 50) %>
                <%= link_to raw("#{logo} Anima <sub>Yuki Server</sub>"), root_path, :class => 'navbar-brand' %>
            </div>
            
            <div class="navbar-offcanvas offcanvas" id="main-menu">
                <ul class="nav navbar-nav">
                  <li class="<%= 'active' if is_active_link? /^\/anime(s)?/ %>"><%= link_to raw('<span class="glyphicon glyphicon-film"></span> Animes'), animes_path %></li>
                  <li class="<%= 'active' if is_active_link? /^\/movie(s)?/  %>"><%= link_to 'Movies', movies_path %></li>
                  <li class="<%= 'active' if is_active_link? /^\/book(s)?/  %>"><%= link_to 'Books', books_path %></li>
                </ul>

            	<ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-wrench"></span> Gestion <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><%= link_to raw('<i class="glyphicon glyphicon-tags"></i> Tags'), tags_path %></li>
                            <li><%= link_to raw('<i class="glyphicon glyphicon-list-alt"></i> Collections'), collections_path %></li>
                            <li><%= link_to raw('<i class="glyphicon glyphicon-screenshot"></i> Localisations'), locations_path %></li>
                            <li><%= link_to raw('<i class="fa fa-link"></i> Relations'), relations_path %></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> ysaak <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/app_dev.php/logout" title="logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container-fluid">
        <%= yield %>
    </div>

    <%= debug(params) if Rails.env.development? %>

    <%= javascript_include_tag 'application' %>
</body>
</html>
